@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto.woff") format("woff"), url("../fonts/Roboto.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Robotobold";
  font-display: swap;
  src: url("../fonts/Robotobold.woff") format("woff"), url("../fonts/Robotobold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Robotolight";
  font-display: swap;
  src: url("../fonts/Robotolight.woff") format("woff"), url("../fonts/Robotolight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

:root {
  --main-bg-color: hsl(220, 75%, 88%);
  --main-font-color: hsl(220, 50%, 15%);
  --header-bg-color: hsl(220, 60%, 70%);
  --header-border-color: hsl(220, 50%, 30%);
  --header-font-color: hsl(220, 50%, 15%);
  --footer-bg-color: hsl(220, 88%, 60%);
  --footer-border-color: hsl(220, 50%, 30%);
  --footer-font-color: hsl(220, 50%, 15%);
  --footer-font-hover-color: hsl(220, 70%, 85%);
  --button-active-color: hsl(220, 88%, 85%);
  --button-active-font-color: hsl(220, 50%, 15%);
}

:root[theme='dark'] {
  --main-bg-color: hsl(220, 75%, 15%);
  --main-font-color: hsl(220, 50%, 85%);
  --header-bg-color: hsl(220, 88%, 5%);
  --header-border-color: hsl(220, 50%, 25%);
  --header-font-color: hsl(220, 50%, 85%);
  --footer-bg-color: hsl(220, 88%, 5%);
  --footer-border-color: hsl(220, 50%, 25%);
  --footer-font-color: hsl(220, 50%, 85%);
  --footer-font-hover-color: hsl(220, 50%, 55%);
  --button-active-color: hsl(220, 50%, 55%);
  --button-active-font-color: hsl(220, 50%, 85%);
}

:root[theme='dimmed'] {
  --main-bg-color: hsl(220, 35%, 25%);
  --main-font-color: hsl(220, 50%, 85%);
  --header-bg-color: hsl(220, 68%, 15%);
  --header-border-color: hsl(220, 30%, 35%);
  --header-font-color: hsl(220, 50%, 85%);
  --footer-bg-color: hsl(220, 68%, 15%);
  --footer-border-color: hsl(220, 30%, 35%);
  --footer-font-color: hsl(220, 50%, 85%);
  --footer-font-hover-color: hsl(220, 30%, 65%);
  --button-active-color: hsl(220, 30%, 65%);
  --button-active-font-color: hsl(220, 40%, 15%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  font-size: 16px;
}

h1 {
  font-family: 'Robotolight';
  font-size: 25px;
  line-height: 32px;
}

button {
  padding: 2px 15px;
  cursor: pointer;
}

button.active {
  background-color: var(--button-active-color);
  color: var(--button-active-font-color);
}

label {
  cursor: pointer;
}

.container {
  padding: 0 15px;
}

.main {
  background-color: var(--main-bg-color);
  width: 100%;
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 100px;
}

.only-tablet {
  display: none;
}

.only-desk {
  display: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--header-bg-color);
  height: 40px;
  border-bottom: 3px solid var(--header-border-color);
}

.header .logo {
  font-size: 20px;
  color: var(--header-font-color);
  text-decoration: none;
}

.header .theme-switch ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  list-style: none;
  color: var(--header-font-color);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--footer-bg-color);
  border-top: 3px solid var(--footer-border-color);
  padding: 10px 0;
}

.footer .contacts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  list-style: none;
}

.footer .contacts ul a {
  font-family: 'Robotobold';
  color: var(--footer-font-color);
}

.footer .contacts ul a:hover {
  color: var(--footer-font-hover-color);
}

.footer .social-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 10px;
  list-style: none;
}

.footer .social-links ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
  color: var(--footer-font-color);
}

.footer .social-links ul a:hover {
  color: var(--footer-font-hover-color);
}

.gallery {
  overflow: hidden;
}

.gallery h1 {
  margin: 15px 0;
  color: var(--main-font-color);
  text-align: center;
}

.gallery .gallery-list {
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.gallery .gallery-list img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.gallery .gallery-list img:nth-child(4n + 1) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-animation: modal-show 0.5s 1 forwards;
          animation: modal-show 0.5s 1 forwards;
}

.modal.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal .modal-content {
  position: relative;
  width: 70%;
  min-height: 50%;
  padding: 45px 15px 15px 15px;
  background-color: white;
}

.modal .modal-hide {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  width: 35px;
  height: 35px;
}

.modal .modal-hide::after {
  content: "X";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  line-height: 35px;
  text-align: center;
  font-size: 20px;
  text-align: center;
  color: black;
  cursor: pointer;
}

.modal .modal-body img {
  width: 100%;
}

@-webkit-keyframes modal-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes modal-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 30px;
    line-height: 40px;
  }

  .main {
    padding-bottom: 60px;
  }

  .only-mobile {
    display: none;
  }

  .only-tablet {
    display: block;
  }

  .footer {
    padding: 5px 0;
  }

  .footer .footer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0 15px;
  }

  .footer .contacts ul {
    gap: 25px;
    margin-bottom: 0;
  }

  .gallery .gallery-list img:nth-child(4n + 1) {
    -ms-grid-column: auto;
        grid-column-start: auto;
    -ms-grid-column-span: NaN;
    grid-column-end: auto;
  }

  .gallery .gallery-list img:nth-child(3n + 1) {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row-span: 2;
    grid-row: span 2;
  }
}

@media (min-width: 1024px) {
  .only-tablet {
    display: none;
  }

  .only-desk {
    display: block;
  }

  .footer .social-links ul a {
    width: 30px;
    height: 30px;
  }

  .gallery .gallery-list {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }

  .gallery .gallery-list img:nth-child(3n + 1) {
    -ms-grid-column: auto;
        grid-column-start: auto;
    -ms-grid-column-span: NaN;
    grid-column-end: auto;
    grid-row: auto;
  }

  .gallery .gallery-list img:nth-child(16n + 1) {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row-span: 3;
    grid-row: span 3;
  }

  .gallery .gallery-list img:nth-child(16n + 10) {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 3;
    grid-column-end: 5;
    -ms-grid-row-span: 3;
    grid-row: span 3;
  }
}