.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    background-color: var(--footer-bg-color);
    border-top: 3px solid var(--footer-border-color);
    padding: 10px 0;

    .contacts {
        ul {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            list-style: none;

            a {
                font-family: 'Robotobold';
                color: var(--footer-font-color);

                &:hover {
                    color: var(--footer-font-hover-color);
                }
            }
        }
    }

    .social-links {
        ul {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            gap: 10px;
            list-style: none;

            a {
                display: flex;
                width: 35px;
                height: 35px;
                color: var(--footer-font-color);

                &:hover {
                    color: var(--footer-font-hover-color);
                }
            }
        }
    }

    @media (min-width: $tablet-size) {
        padding: 5px 0;

        .footer-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0 15px;
        }

        .contacts {
            ul {
                gap: 25px;
                margin-bottom: 0;
            }
        }
    }

    @media (min-width: $desktop-size) {
        .social-links {
            ul {
                a {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}