.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: hsl(var(--bg-color-hue), 50%, 50%);
    height: $header-height;
    border-bottom: 3px solid hsl(var(--bg-color-hue), 50%, 30%);

    .logo {
        font-size: 20px;
        color: var(--font-color-header);
        text-decoration: none;
    }

    .theme-switch {
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 15px;
            list-style: none;
        }
    }
}