@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"),
        url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "./variables";

@import "./fonts";
@import "./properties";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    font-size: 16px;
}

h1 {
    font-family: 'Robotolight';
    font-size: 25px;
    line-height: 32px;

    @media (min-width: $tablet-size) {
        font-size: 30px;
        line-height: 40px;
    }
}

button {
    padding: 2px 15px;
    cursor: pointer;

    &.active {
        background-color: var(--button-active-color);
        color: var(--button-active-font-color);
    }
}

label {
    cursor: pointer;
}

.container {
    padding: 0 15px;
}

.main {
    background-color: var(--main-bg-color);
    width: 100%;
    min-height: 100vh;
    padding-top: $header-height;
    padding-bottom: 100px;

    @media (min-width: $tablet-size) {
        padding-bottom: 60px;
    }
}

.only-mobile {
    @media (min-width: $tablet-size) {
        display: none;
    }
}

.only-tablet {
    display: none;

    @media (min-width: $tablet-size) {
        display: block;
    }

    @media (min-width: $desktop-size) {
        display: none;
    }
}

.only-desk {
    display: none;

    @media (min-width: $desktop-size) {
        display: block;
    }
}


@import './header';
@import './footer';
@import './gallery.scss';